.bHomePage {
	/* Layout Properties */
	/* UI Properties */
	background: transparent linear-gradient(180deg, #3ab88e 0%, #258774 100%) 0%
		0% no-repeat padding-box;
	opacity: 1;
}

.cardHome {
	/* Layout Properties */
	top: 185px;
	left: 710px;
	width: 500px;
	height: 820px;
	/* UI Properties */
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 20px;
	opacity: 1;
}

.b1 {
	/* Layout Properties */
	background: #2d9a7e 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 10px;
	opacity: 1;
}

.b2 {
	/* UI Properties */
	background: #fbc02d 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	opacity: 1;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
  }

  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

  form.nosubmit {
	border: none;
	padding: 0;
   }

   input.nosubmit {
	 border: 1px solid #555;
	 width: 100%;
	 padding: 9px 4px 9px 40px;
	  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
   }
